<div id="buddy-container" #container [ngClass]="{'selected' : selected}">
  <div id="icon-container">
    <img src="{{conversation.user.avatarUrl}}">
  </div>
  <div id="r-container">
    <div id="last-message-container">
      <div id="contact-info-container">
        <div id="contact-info">
          <span>{{conversation.user.firstname}} {{conversation.user.lastname}}</span>
          <span>{{conversation.lastMessage?.date | date: 'h:mm:ss'}}</span>
        </div>
        <div id="message-date"></div>
      </div>
      <div id="message-container">
         <span *ngIf="conversation.lastMessage?.dir == 's'" style="font-weight: 450;">You: </span>{{conversation.lastMessage?.text}}
      </div>
    </div>
  </div>

  <mat-icon id="chat-mnu-achor"
  [matMenuTriggerFor]="chatMenu"
  >keyboard_arrow_down</mat-icon>
  <mat-menu class="mat-menu-custom"  panelClass="mat-menu-custom" #chatMenu="matMenu" xPosition="after">
    <button mat-menu-item>
      <span>Archive chat</span>
    </button>
    <button mat-menu-item>
      <span>Mute notifications</span>
    </button>
    <button mat-menu-item>
      <span>Delete chat</span>
    </button>
    <button mat-menu-item>
      <span>Pin chat</span>
    </button>
    <button mat-menu-item>
      <span>Mark as unread</span>
    </button>
  </mat-menu>
</div>
