#recv-chat-message-container {
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  #chat-box-container{
    flex: 1;
    max-width: 75%;
  }
  #top-left-tri {
    border-top: 10px solid white;
    border-left: 8px solid transparent;
    background-color: transparent;
  }
  #chat-message-action-container{
    margin-left: 15px;
    margin-right: 40px;
    background-color: gray;
  }
  #chat-message-container{
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    #chat-menu-anchor.active {
      transform: translateX(-120%);
      opacity: 1;
    }
    #chat-menu-anchor{
      transform: translateX(-50%);
      opacity: 0;
      height: 30px;
      width: 80px;
      margin-top: 5px;
      margin-right: 5px;
      border-radius: 10px;
      cursor: pointer;
      z-index: 800;
      display: flex;
      justify-content: flex-end;
      background: radial-gradient(
        at top right,
          rgba(rgb(255, 255, 255),1) 60%,
          rgba(rgb(119, 66, 66),0) 80%);
      mat-icon {
        opacity: 0.8;
      }
    }
  }
  #chat-message-container:hover {
    #chat-menu-anchor {
      color: #667781;
      font-size: 30px;
      opacity: 1;
      transform: translateX(-120%);
      transition: 0.15s ease-in-out;
    }
  }
  #chat-message-area {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    #message-area{
      display: flex;
      flex-direction: column;
      justify-items: flex-end;
      padding: 6px 7px 8px 8px;
      #chat-message {
        text-align: justify;
        margin: 0 0 0 0 ;
        padding: 5px 5px 5px 5px;
      }
      #chat-time {
        width: auto;
        text-align: right;
        display: inline-block;
      }
    }
  }
}
