<div id="send-chat-message-container"
  *ngIf="data.dir == 's'"
>
  <div id="chat-box-container">
    <div id="chat-message-container" >
      <div id="emoji-button-container">
        <app-chat-emoji-button
          *ngIf="chatMenuState"
          [ngClass]="{'active' : chatMenuState}"
        ></app-chat-emoji-button>
      </div>

      <div id="chat-message-area" >
        <div id="message-area">
          <p id="chat-message">
            {{data.text}}
          </p>
          <span id="chat-time">{{data.date | date: 'hh:mm'}}</span>
        </div>
      </div>
      <span id="top-right-tri"></span>
      <span id="chat-menu-anchor"
        #chatMenuTriggerElement
        [ngClass]="{'active' : chatMenuState}"
        (menuClosed)="chatMenuState = false"
        (menuOpened)="chatMenuState = true"
        [matMenuTriggerFor]="chatMenu">
        <mat-icon >keyboard_arrow_down</mat-icon>
      </span>
      <mat-menu class="mat-menu-custom"  panelClass="mat-menu-custom" #chatMenu="matMenu" xPosition="after">
        <button mat-menu-item>
          <span>Message info</span>
        </button>
        <button mat-menu-item>
          <span>Reply</span>
        </button>
        <button mat-menu-item>
          <span>React to message</span>
        </button>
        <button mat-menu-item>
          <span>Forward message</span>
        </button>
        <button mat-menu-item>
          <span>Star message</span>
        </button>
        <button mat-menu-item>
          <span>Delete message</span>
        </button>
      </mat-menu>
    </div>
  </div>

</div>

<div id="recv-chat-message-container"
  *ngIf="data.dir == 'r'">
  <div id="chat-box-container">
    <div id="chat-message-container"
      (mouseover)="anchorState=true"
      (mouseleave)="anchorState=false;"
    >
      <span id="top-left-tri"></span>
      <div id="chat-message-area" >
        <div id="message-area">
          <p id="chat-message">
            {{data.text}}
          </p>
          <span id="chat-time">{{data.date | date: 'hh:mm'}}</span>
        </div>
      </div>
      <span id="chat-menu-anchor"
        #chatMenuTriggerElement
        [ngClass]="{'active' : chatMenuState}"
        (menuClosed)="chatMenuState = false"
        (menuOpened)="chatMenuState = true"
        [matMenuTriggerFor]="chatMenu">
        <mat-icon >keyboard_arrow_down</mat-icon>
      </span>
      <mat-menu class="mat-menu-custom"  panelClass="mat-menu-custom" #chatMenu="matMenu" xPosition="after">
        <button mat-menu-item>
          <span>Reply</span>
        </button>
        <button mat-menu-item>
          <span>React to message</span>
        </button>
        <button mat-menu-item>
          <span>Forward message</span>
        </button>
        <button mat-menu-item>
          <span>Report</span>
        </button>
        <button mat-menu-item>
          <span>Delete message</span>
        </button>
      </mat-menu>
      <div id="emoji-button-container">
        <app-chat-emoji-button
          #rChatEmojiBtn
          (initialState)="false && true && anchorState"
          [ngClass]="{'active' : anchorState || rChatEmojiBtn.openState}"
        ></app-chat-emoji-button>
      </div>
    </div>

    <div *ngIf="data.isYesNo" id="chat-message-action-container">
      Yes / No
    </div>
  </div>

</div>

<!--
<div id="send-chat-message-container">

  <div id="chat-message" style="border-radius: 15px"></div>

</div>
-->
