#emoji-button-container{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #cccccc;

  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  margin-left: 5px;
  margin-right: 5px;

  cursor: pointer;
  opacity: 0.8;
}
#menu-items-container{
  position: fixed;
  opacity: 0;
  height: 40px;
}
#menu-items-container.active {
  position: fixed;
  opacity: 1;
  z-index: 10000;
  background-color: gray;
}
