#bg-header {
  width: 100%;
  height: 135px; //13vh;
  background-color: #00a884;
}

#bg-body {
  width: 100%;
  height: 87vh;
  background-color: #dcdedd;
}
#app-container{
  position: fixed;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 90%;
  width: 97%;
  background-color: rgb(255, 255, 255);
  left: 0px;
  right: 0px;
  box-shadow: 0 6px 18px rgba(var(--shadow-rgb),.05);
  display: flex;
}
.chat-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  #sidebar{
    flex-basis: calc(30% - 1px);
    border-right: 0px solid #e1e4e5;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    #sidebarContent {
      //background-color: red;
    }

    #no-conversations{
      padding-top: 30px;
      text-align: center;
      color: #b9b9b9;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: 100;
    }
  }
  >#chat-panel{

  }
}

