<div>
  <div id="bg-header"></div>
  <div id="bg-body"></div>
  <div id="app-container" style="background-color: transparent; overflow: hidden;">
    <div class="chat-container" style="overflow: hidden;">
      <div id="sidebar" #sideBar ngInit (ngInit)="calculatedWidth = getWidth(sideBar) - 1;">
        <mat-sidenav-container
          style="height: 100%; width: 100%;"
          [hasBackdrop]="true"
          (backdropClick)="appCreateChatPanel.blurSearchInput();"
          >
          <mat-sidenav
            #drawer
            mode="over"
            style="width: 100%"
            (openedStart)="appCreateChatPanel.changeOpenState(drawer.opened)"
            (openedChange)="appCreateChatPanel.changeOpenState(drawer.opened)"
          >
            <app-create-chat-panel
              #appCreateChatPanel
              (onBackArrowClicked)="drawer.close()"
            ></app-create-chat-panel>
          </mat-sidenav>
          <mat-sidenav-content style="border-right: 0px solid #e1e4e5; height: 100%; overflow: hidden;">
            <div id="sidebarHeader">
              <app-profile-box
                (chatButtonClicked)="drawer.toggle()"
              ></app-profile-box>
            </div>
            <app-chat-search-box></app-chat-search-box>
            <div id="sidebarContent" class="v-scrollbar"
                style="width: {{calculatedWidth}}px; max-width: {{calculatedWidth}}px;">

              <app-buddy-box *ngFor="let conversation of conversations; index as i"
                [selected]="i == selectedConversationIndex"
                [conversation]="conversation"
                (click)="_handleConversationClick($event, conversation); selectedConversationIndex = i"
              ></app-buddy-box>
              <div id="no-conversations" *ngIf="conversations && conversations.length == 0">All chats are archived</div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>

      <div id="chat-panel" style="">
        <app-chat-panel [sidenavWidth]="calculatedWidth"></app-chat-panel>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
