<mat-sidenav-container style="height: 100%; flex-grow: 1;" [hasBackdrop]="false">
  <mat-sidenav
    #chatSearchNav
    style="width: {{sidenavWidth}}px; max-width: {{sidenavWidth}}px"
    mode="side" position="end">
      This is sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="chat-panel-container">
      <div id="profile-header-container">
        <div id="profile-picture">
          <img src="../../../assets/images/avatar.jpg">
        </div>
        <div style="flex-grow: 1;">-1 (111) 111-0111</div>
        <app-mat-icon-circle-button
          [focusable]="true"
          (click)="chatSearchNav.toggle()"
        [mat-icon-text]="'search'"></app-mat-icon-circle-button>
        <app-mat-icon-circle-button
          #dotsMenu
          [matMenuTriggerFor]="dots_menu"
          (menuOpened)="dotsMenu.pressed = true"
          (menuClosed)="dotsMenu.pressed = false"
          aria-label="Dots menu area-lebel"
        [mat-icon-text]="'more_vert'"></app-mat-icon-circle-button>

        <mat-menu class="mat-menu-custom"  panelClass="mat-menu-custom"
          #dots_menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <span>Contact info</span>
          </button>
          <button mat-menu-item>
            <span>Report business</span>
          </button>
          <button mat-menu-item>
            <span>Block</span>
          </button>
          <button mat-menu-item>
            <span>Select messages</span>
          </button>
          <button mat-menu-item>
            <span>Close chat</span>
          </button>

          <button mat-menu-item>
            <span>Mute notifications</span>
          </button>
          <button mat-menu-item>
            <span>Clear messages</span>
          </button>
          <button mat-menu-item>
            <span>Delete chat</span>
          </button>
        </mat-menu>

      </div>
      <div id="chat-messages-container" class="v-scrollbar">
        <app-chat-message></app-chat-message>
      </div>
      <!-- -->
      <div id="emoji-area"
         [ngClass]="{'active':emojiState}"
        style=" background-color: transparent; z-index: 0;">
        <app-media-panel *ngIf="mediaType == 'emoji'"
          [tab-icons]="['smile','teddy','cup', 'soccer','car','bulb','hashtag','flag']"
        ></app-media-panel>
        <app-media-panel *ngIf="mediaType == 'gif'"
          [tab-texts]="['TRENDING','HAHA','SAD', 'LOVE','REACTIONS','SPORTS','TV']"
        ></app-media-panel>
        <app-media-panel
          *ngIf="mediaType == 'sticker'"
          [tab-insertable]="true"
          [tab-icons]="['clock']"
          [tab-texts]="['','LOVE','GREETINGS', 'HAPPY','SAD','ANGRY','CELEBRATE']"
        ></app-media-panel>
      </div>

      <div id="message-typing-container" style="z-index: 100; background-color: #f0f2f5;">
        <div id="chat-type-insertion-actions-container"
          >
          <mat-icon
            style="margin-left: 0; margin-right: 0"
            (click)="emojiState=false; mediaType=''"
            [@emojiState]="emojiState"
            svgIcon="close"></mat-icon>

          <mat-icon
            (click)="emojiState = true; mediaType='emoji'"
            [ngClass]="{'active' : mediaType == 'emoji'}"
           svgIcon="smile"></mat-icon>

           <mat-icon svgIcon="gif"
            [ngClass]="{'active' : mediaType == 'gif'}"
            [@emojiState]="emojiState"
            (click)="mediaType='gif'"></mat-icon>
           <mat-icon svgIcon="sticker"
            (click)="mediaType='sticker'"
            [@emojiState]="emojiState"
            [ngClass]="{'active' : mediaType == 'sticker'}"
            ></mat-icon>

          <mat-icon svgIcon="attach_file">attach_file</mat-icon>
        </div>
        <div id="input-container">
          <input type="text"
            [(ngModel)]="textToSend" placeholder=" Type a message" id="messageToSend">
        </div>
        <div id="audio-icon-container">
          <mat-icon *ngIf="textToSend.length == 0">mic</mat-icon>
          <mat-icon *ngIf="textToSend.length > 0">send</mat-icon>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
