.mat-mini-fab-custom {
  border: 0px solid white;
  background-color: transparent;
  color: #54656f;
  box-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 200ms ease-out;
}
.mat-mini-fab-custom-clicked {
  background-color: #dbdee1;
}

#chat-panel-container{
  display:flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  #profile-header-container{
    display:flex;
    padding: 10px 15px 10px 15px;
    flex-wrap: wrap;
    align-items: center;
    #profile-picture {
      flex-basis: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;

      padding-right: 10px;;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

    }

    mat-icon {
      width: 35px;
    }
  }
  #chat-messages-container{
    height: 100%;
    background-color: #f1ece5;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #message-typing-container{
    display: flex;
    flex-direction: row;
    padding: 8px 5px 8px 15px;
    align-items: center;

    #chat-type-insertion-actions-container.collapsed {
      max-width: 108px;
      width: 108px;
    }
    #chat-type-insertion-actions-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 43px;
      padding: 0px 5px 0px 0px;
      mat-icon {
        height: 26px;
        width: 26px;
        margin-right: 8px;
        margin-left: 8px;
        cursor: pointer;
      }
      mat-icon.active {
        color: #008069
      }
      mat-icon.hidden {
        width: 0px;
      }
    }

    #input-container{
      flex-grow: 1;
      border-radius: 10px;
      background-color: white;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    input {
      outline: none;
      border: 0px solid white;
      max-height: 100px;
      width: 100%;
      font-size: 15px;
      font-weight: 400;
      color: #54656f;
    }
    #audio-icon-container{
      flex-basis: 80px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }

  #emoji-area {
    overflow: hidden;
    max-height: 0;
    min-height: 0;
    transition: 300ms ease-in;
    transition-timing-function: cubic-bezier(0.1,0.82,0.25,1);
  }
  #emoji-area.active {
    max-height: 320px;
    min-height: 320px;
    transition: 300ms ease-out;
    transition-timing-function: cubic-bezier(0.1,0.82,0.25,1);
  }
}
